<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">

<head>
  {{ partial "head.html" . }}
</head>

<body class="td-{{ .Kind }}">
  <header>
    {{ partial "navbar.html" . }}
  </header>
  <div class="container-fluid td-default td-outer">
    <main role="main" class="td-main">
      <section class="row td-box td-box--4 td-box--gradient td-box--height-auto">
        <div class="col">
          <div class="row paddingrow">
            <div class="col-12 nopadding">
              {{ block "main" . }}{{ end }}
            </div>
          </div>
        </div>
      </section>
    </main>
    {{ partial "footer.html" . }}
  </div>
  {{ partialCached "scripts.html" . }}
</body>

</html>
