+++
title = "Goldydocs"
linkTitle = "Goldydocs"
+++

{{< blocks/cover image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<h1 id="titolohome" class="display-1 mt-0 mt-md-5 pb-4">Cultura della documentazione!</h1>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/ricette" >}}">
		Le ricette <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Le issue <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="messaggiohome lead mt-12 -bg-white">Molto spesso <strong>disperdiamo richieste di aiuto</strong> ("Come faccio a ...") e le relative <strong>preziose risposte</strong> in chat, social network, email tra due persone, ecc.. Sono informazioni che una volta messe in circolo, dopo pochi minuti sono già  "perdute", <strong>confinate in spazi ristretti</strong> che non si prestano a una condivisione di conoscenza e quasi <strong>mai indicizzati dai motori di ricerca.</strong>
    </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Questo repository nasce per <strong>mettere a fattore comune scambi di conoscenza/esperienza su questi temi: dati aperti, trasparenza, Linked Open Data, analisi e trasformazione di dati. </strong> <br> Il nome di questo spazio <br> <br> È un proverbio presente in molti dialetti italiani (in Campania ad esempio è T’aggià mbarà e tt’àggia pèrdë!), è un invito asciutto e diretto a chi riceve un <strong>insegnamento</strong>, affinché lo <strong>valorizzi</strong> e non lo <strong>disperda.</strong>
È anche e soprattutto un incoraggiamento a prendersi cura del legame tra chi si sta <strong>scambiando conoscenza</strong> e <strong>esperienza</strong>.
Un/a nonno/a con uno sguardo "birichino" e pieno di luce lo dice a un/a nipote, a mo' di monito, per ricevere indietro due regali: lo sguardo lucente contraccambiato e constatare che l'insegnamento sia stato utile. Anche dopo anni.
Lo dice specialmente quando il/la nipotino/a non applica quanto avrebbe dovuto già  apprendere dai suoi avi.

Sarà una sorta di monito per chi frequenterà questo spazio :-) <br><br>
<strong>Come nasce questo contenitore</strong><br>
Da una <a href="https://groups.google.com/d/msg/opendatasicilia/chsV6FZg1qI/dFvHx_u-EAAJ"  class="community" title="Come nasce questo contenitore" target="_blank">proposta</a> nella mailing list di OpenDataSicilia.<br><br>
<strong>Il "galateo" di questo spazio</strong> <br>
Qui su T'ansignari abbiamo un piccolo <a href="galateo" class="community" title="galateo | per favore leggilo"><strong>galateo</strong></a>, che stiamo costruendo on the job. Se vuoi partecipare, per favore leggilo.
{{% /blocks/lead %}}

{{< blocks/section color="dark">}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/gohugoio/hugo/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

