+++
title = "T'ansignari"
linkTitle = "T'ansignari"
+++

{{< blocks/cover image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<h1 id="titolohome" class="display-1 mt-0 mt-md-5 pb-4">Mettere a fattore comune conoscenza e esperienza</h1>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Cosa è <i class="fas fa-question ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/ricette" >}}">
		Le ricette <i class="fas fa-utensils ml-2 "></i>
	</a>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Molto spesso **disperdiamo richieste di aiuto** («Come faccio a …») e le relative preziose risposte in **chat**, **social network**, ***email*** tra due persone, ecc.. <br>
Così facendo, **dopo pochi minuti** sono già **«perdute»**, **confinate** in **spazi ristretti** che non si prestano a una condivisione di conoscenza e quasi mai indicizzati dai motori di ricerca.

Questo spazio nasce per evitare tutto questo e mettere a **fattor comune** **scambi di conoscenza/esperienza**, in modalità che li **valorizzino**, li facciano **durare** nel tempo e diano spazio a ulteriori scambi.

**Non su tutto**, ma su temi vicini a quelli che esplora la comunità **OpenDataSicilia**: i dati aperti, la trasparenza amministrativa, il *civic tech*.
{{% /blocks/lead %}}

{{< blocks/section color="dark">}}
{{% blocks/feature icon="fa-hand-paper" title="Il nostro Galateo" %}}
Le **buone maniere** di questo spazio sono indicate [**qui**](./galateo).

<a class="text-white" href="./galateo">
	<button type="button" class="btn btn-secondary" style="width:150px; margin-top: 12px;">Leggilo</button>
</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-hand-point-down" title="Partecipa!" %}}
Aprendo una [**nuova issue**](https://github.com/opendatasicilia/tansignari/issues/new) e facendo una **domanda**.

**Rispondendo** a una domanda, [ancora aperta](https://github.com/opendatasicilia/tansignari/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc).

{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-book-open" title="Le ricette"  %}}
Raccogliamo i contributi in un "ricettario".

<a class="text-white" href="./ricette">
<button type="button" class="btn btn-secondary" style="width:150px; margin-top: 12px;">Leggile</button>
</a>
{{% /blocks/feature %}}


{{< /blocks/section >}}

